[submodule "repos/rskj"]
	path = repos/rskj
	url = git@github.com:patogallaiovlabs/rskj.git
	branch = master
[submodule "repos/stats-backend"]
	path = repos/stats-backend
	url = git@github.com:patogallaiovlabs/stats-backend.git
[submodule "repos/stats-agent"]
	path = repos/stats-agent
	url = git@github.com:patogallaiovlabs/stats-agent.git
[submodule "repos/rskj-k6-tests"]
	path = repos/rskj-k6-tests
	url = git@github.com:patogallaiovlabs/rskj-k6-tests.git
	branch = main
