[submodule "repos/rskj"]
	path = repos/rskj
	url = git@github.com:patogallaiovlabs/rskj.git
	branch = rats-blocksize-stress
[submodule "repos/stats-backend"]
	path = repos/stats-backend
	url = https://github.com/rsksmart/stats-backend.git
[submodule "repos/stats-agent"]
	path = repos/stats-agent
	url = https://github.com/rsksmart/stats-agent.git
[submodule "repos/rskj-k6-tests"]
	path = repos/rskj-k6-tests
	url = git@github.com:patogallaiovlabs/rskj-k6-tests.git
	branch = rats-blocksize-stress
